<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">


    <title>Welcome to ChessOn!</title>
</head>


<body>
    
    <div class="navbar-container">
        <a id="navbar-login" href="/login"> Login</a>
        <a id="navbar-logout" href="#"> Logout</a>
        <a id="navbar-register" href="#"> Register</a>
        <h2 id="navbar-chesson" href="#">ChessOn</h2> 
    </div> 
</body>
</html>