<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">


    <title>Login into ChessOn!</title>
</head>


<body>
    
    <div class="navbar-container">
        <a id="navbar-home" href="/"> Home</a>
        <a id="navbar-login" href="/login"> Login</a>
        <a id="navbar-register" href="/register"> Register</a>
        <h2 id="navbar-chesson" href="#">ChessOn</h2> 
    </div> 

    <div class="alert-container" id="alert-container"> 
        <h3 id="create-message"> Account Successfully Made! </h3>
    </div> 


    <div class="form-container"> 
        <form action="" class="login-form"> 
            <input id="email" type="text" name="email" placeholder="Email"> 
            <br> <br> 
            <input id="password" type="text" name="password" placeholder="Password"> 
            <br><br>
            <input id="submit" type="submit" value="Submit"> 


        </form>
    </div> 

    <script src="../static/js/login.js"></script> 
</body>
</html>